<!DOCTYPE html>
<html>

<head>

<title>Password Strength Analyzer</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<canvas id="matrix"></canvas>

<div class="container">

<div class="card">

<h1>🔐 Password Strength Analyzer</h1>

<p>Cybersecurity tool to analyze password strength</p>

<form method="POST">

<input
type="password"
name="password"
id="password"
placeholder="Enter Password"
required
>

<button type="button" onclick="togglePassword()">Show</button>

<button type="submit">Analyze Password</button>

</form>

{% if strength %}

<h2>Password Strength: {{ strength }}</h2>

<h3>Suggestions</h3>

<ul>

{% for item in feedback %}

<li>{{ item }}</li>

{% endfor %}

</ul>

<h3>Suggested Strong Password</h3>

<p id="generated">{{ suggestion }}</p>

<button onclick="copyPassword()">Copy Password</button>

{% endif %}

</div>

</div>


<script>

function togglePassword(){

var x=document.getElementById("password");

if(x.type==="password"){
x.type="text";
}else{
x.type="password";
}

}

function copyPassword(){

let text=document.getElementById("generated").innerText;

navigator.clipboard.writeText(text);

alert("Password copied!");

}



var canvas=document.getElementById("matrix");

var ctx=canvas.getContext("2d");

canvas.height=window.innerHeight;
canvas.width=window.innerWidth;

var letters="01".split("");

var fontSize=12;

var columns=canvas.width/fontSize;

var drops=[];

for(var x=0;x<columns;x++)
drops[x]=1;

function draw(){

ctx.fillStyle="rgba(0,0,0,0.05)";
ctx.fillRect(0,0,canvas.width,canvas.height);

ctx.fillStyle="#0F0";
ctx.font=fontSize+"px monospace";

for(var i=0;i<drops.length;i++){

var text=letters[Math.floor(Math.random()*letters.length)];

ctx.fillText(text,i*fontSize,drops[i]*fontSize);

if(drops[i]*fontSize>canvas.height && Math.random()>0.975)
drops[i]=0;

drops[i]++;

}

}

setInterval(draw,33);

</script>

</body>

</html>
